<h1> Detalhes de passo a passo do git
</h1>

<li> git init </li>
<li> git remote add origin git@github </li>
<li> git branch main </li>
<li> git branch teste </li>
<li> git switch teste </li>
<li> git add .  </li>
<li> git commit -m "teste"  </li>
<li> git push origin "teste"  </li>